<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <!-- styles -->
    <script src="/build/css/styles.min.bundle.js"></script>
</head>

<body>
    <center>
        <h1>404</h1>
        <h2>File not found</h2>
        <p>Check your connection or try reloading the page.</p>
    </center>
</body>

</html>