<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in • Crawler.com</title>
    <!-- styles -->
    <script src="/build/css/styles.min.bundle.js"></script>
    <!-- scripts -->
    <script type="module" src="/build/js/jquery.min.bundle.js"></script>
    <script type="module" src="/build/js/login.min.bundle.js"></script>
    <!-- components -->
</head>

<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/images/worldwide.svg');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="mb-4">
                            <h1 class="crawler-logo">crawler.com</h1>
                            <h3>Sign In</h3>
                            <p class="mb-4">Using your Crawler.com account. Or Sign Up below.</p>
                        </div>
                        
                        <!-- validation error message -->
                        <!-- <div class="alert alert-warning alert-dismissible fade hide" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> -->

                        <!-- form -->
                        <form class="signinForm" action="/users/login" method="post">

                            <!-- email -->
                            <div class="form-group first">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email">
                            </div>

                            <!-- password -->
                            <div class="form-group last mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>

                            <!-- remember user -->
                            <div class="d-flex mb-3 align-items-center">
                                <label class="mb-0">
                                    <input type="checkbox" name="rememberMe" checked="checked" />
                                    <span class="caption">Remember me</span>
                                </label>
                            </div>

                            <!-- login -->
                            <div class="d-flex mb-3">
                                <input type="submit" value="Sign In"
                                    class="btn btn-block btn-warning text-white container-fluid">
                            </div>

                            <!-- or -->
                            <span class="d-block text-center mb-3 text-muted">&mdash; or &mdash;</span>

                            <!-- social login -->
                            <div class="social-login mb-3">
                                <!-- <a href="#" class="facebook btn d-flex justify-content-center align-items-center">
                                    <span class="icon-facebook mr-3"></span> Login with Facebook
                                </a> -->
                                <!-- <a href="#" class="twitter btn d-flex justify-content-center align-items-center">
                                    <span class="icon-twitter mr-3"></span> Login with Twitter
                                </a> -->
                                <a href="#" class="google btn d-flex justify-content-center align-items-center">
                                    Login with Google
                                </a>
                            </div>

                            <!-- forgot password -->
                            <div>
                                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                            </div>

                            <!-- end form -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>