<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search • Crawler.com</title>
</head>
<body>
    <h1>email: <%= authorizedUser.email %></h1>
    <%= authorizedUser.password %>
</body>
</html>